
<section>
    <div class="sidebar-container">
        <div class="top-container">
            <div class="brand">
                <img src="../../../assets/logo.png" alt>
                <p style="margin-left: 10px;">Spotify</p>
            </div>
            <div class="top-item">
                <img src="../../../assets/sidebars/home.png" alt="Home" />
                <p>Home</p>
            </div>
            <div class="top-item">
                <img src="../../../assets/sidebars/search.png" alt="Search" />
                <p>Search</p>
            </div>
        </div>

        <div class="library-container">
            <div class="library-header">
                <div class="link-flex">
                    <img src="../../../assets/sidebars/library.png"
                        alt="Library" />
                    <p>Your Library</p>
                </div>
                <div class="link-flex">
                    <img src="../../../assets/sidebars/plus.png" />
                    <img src="../../../assets/sidebars/arrow.png"
                        style="height: 30px; width: 30px;" />
                </div>
            </div>

            <div class="link-flex" style="gap: 0.5rem">
                <div class="chip">Playlists</div>
                <div class="chip">Artists</div>
                <div class="chip">Podcasts & Shows</div>
            </div>

            <div class="flex-top">
                <!-- <img src="./assets/search.png" /> -->
                <p>Recents</p>
            </div>
            <div class="albums">
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
                <div class="link-flex album-flex">
                    <img src="./assets/mix1.jpeg" class="album-cover" />
                    <div class="col-flex">
                        <p class="album-name">Workout</p>
                        <p>Playlist &#x2022; Spotify</p>
                    </div>
                </div>
            </div>
            <!-- Put your playlists here -->
        </div>
    </div>
</section>
