<app-sidebarsection></app-sidebarsection>

<div class="page-container">

    <section class="trending-section">
        <div class="playlist-sponsored">
            <p>PLAYLIST</p>
            <span>SPONSERED</span>
        </div>
        <div class="trending-container">
            <div class="trending-thumbnail">
                <img
                    src="https://res.cloudinary.com/dlt4ash36/image/upload/v1700793770/play-song_qvjwqd.jpg"
                    alt="cover" class="home-playlist-cover">
            </div>
            <div class="trending-song-container">
                <h1>Trending Insta Reels 2023 Hindi</h1>
                <p>Listen to the biggest trending song on Instagram...
                    Only on the Trending Insta Reels
                    Playlist! Follow Now! </p>
                <div class="home-buttons">
                    <button id="play-btn-home">Play</button>
                    <button id="follow-btn">Follow</button>
                    <i
                        class="fa-solid fa-ellipsis fa-xl home-more-btn"></i>
                    <div class="more-playlist">More</div>
                </div>
            </div>
        </div>
    </section>

    <!--Home Page Song Collection-->
    <section class="user-likes">
        <div class="user-likes-title">
            <h1>Popular song</h1>
            <p>SHOW ALL</p>
        </div>

        <div class="cards">

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Tracks of all
                        time</h4>
                    <p class="song-artist">Catch the best of all
                        time</p>
                    <i id="0"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Sad Hindi Melodies</h4>
                    <p class="song-artist">Soulful tunes for the
                        heart.</p>
                    <i id="1"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Romantics</h4>
                    <p class="song-artist">Fall in love with romantic
                        songs</p>
                    <i id="2"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">New Music Hindi</h4>
                    <p class="song-artist">Latest Hindi Songs | 2023</p>
                    <i id="3"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Bollybood Mush</h4>
                    <p class="song-artist">Songs be the love story</p>
                    <i id="4"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

        </div>
    </section>

    <!-- Best of artist -->
    <section class="user-likes">
        <div class="user-likes-title">
            <h1>Best of artist</h1>
            <p>SHOW ALL</p>
        </div>

        <div class="cards">

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Dil Ibadat</h4>
                    <p class="song-artist">Hits of KK || Romantic
                        Forever</p>
                    <i id="5"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Tracks of all
                        time</h4>
                    <p class="song-artist">Bollywood crooner's essential
                        songs.</p>
                    <i id="6"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Sad Hindi Melodies</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="7"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Romantics</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="8"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">New Music Hindi</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="9"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

        </div>
    </section>

    <!-- Recently Played -->
    <section class="user-likes">
        <div class="user-likes-title">
            <h1>More of what you like</h1>
            <p>SHOW ALL</p>
        </div>

        <div class="cards">

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Bollybood Mush</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="10"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Dil Ibadat</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="11"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Tracks of all
                        time</h4>
                    <p class="song-artist">Chirratan Bhatt</p>
                    <i id="12"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Sad Hindi Melodies</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="13"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Romantics</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="14"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

        </div>
    </section>

    <!-- Top Hindi Tracks -->
    <section class="user-likes">
        <div class="user-likes-title">
            <h1>Top Hindi Tracks</h1>
            <p>SHOW ALL</p>
        </div>

        <div class="cards">

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">New Music Hindi</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="15"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Bollybood Mush</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="16"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Dil Ibadat</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="17"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Tracks of all
                        time</h4>
                    <p class="song-artist">Chirratan Bhatt</p>
                    <i id="18"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Sad Hindi Melodies</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="19"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

        </div>
    </section>

    <!-- Favourite Song -->
    <section class="user-likes">
        <div class="user-likes-title">
            <h1>Favourite song</h1>
            <p>SHOW ALL</p>
        </div>
        <div class="cards">

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Top Hindi Romantics</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="20"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">New Music Hindi</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="21"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Bollybood Mush</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="22"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Dil Ibadat</h4>
                    <p class="song-artist">The essential tracks, all in
                        one playlist.</p>
                    <i id="23"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>

            <div class="song-cards">
                <div class="song-cover">
                    <img alt="song-thumbnail">
                    <h4 class="song-title">Party Vibes of all time</h4>
                    <p class="song-artist">Chirratan Bhatt</p>
                    <i id="24"
                        class=" fa-solid fa-circle-play fa-3x cover-play-btn"></i>
                </div>
            </div>
        </div>
    </section>
</div>

<app-songsection></app-songsection>